.slick-prev::before, .slick-next::before {
    color: #c80000 ;
}

body.HomePage div.content-container {
	padding-left:50px;
	padding-right:50px;
}

body.HomePage img {
	border:none;
}

body.HomePage div.homepage_carousel{
	padding-bottom:30px;
}

.slick-dots li button::before {
    color: #c80000;
    font-size: 12px;   
}
.slick-dots li.slick-active button::before {
    color: #c80000;
    opacity: 0.75;
}

.slick-dots {
    bottom: -50px;
}

body.HomePage div.slideimage_container > img{
	width:100%;
	height:auto;	
}

.slick-slider {
    margin-bottom: 60px;
}

