assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
cms/
framework/
silverstripe-*
crontask/
environmentcheck/
blog/
comments/
gridfield-bulk-editing-tools/
lumberjack/
tagfield/
widgets/
themes/basic-ayesha/javascript
themes/basic-ayesha/webfonts
themes/basic-ayesha/css/.DS_Store
themes/basic-ayesha/css/form.css
themes/basic-ayesha/css/editor.css
themes/basic-ayesha/css/reset.css
themes/basic-ayesha/css/typography.css
